a {
	padding: 1%; 
}

* {
	box-sizing: border-box; 
	font-family: 'Poppins', sans-serif;
}

.logo {
	font-size: 20px; 
}

.NavBar {
	margin: 0px;
	padding: 0px; 
}
.activeCustom {
	color:white; 
}

.inactiveCustom {
	color:gray;
}

.mainImage {
	position: relative;
	padding: 0px;
}
.header {
	position: absolute;
	justify-content: center;
	color: blueviolet; 
	font-size: 10vw; 
	padding: 3%;
	padding-left: 6%; 
}