a {
	padding: 1%; 
}

* {
	box-sizing: border-box; 
	font-family: 'Poppins', sans-serif;
}

.logo {
	font-size: 20px; 
}

.NavBar {
	margin: 0px;
	padding: 0px; 
}
.activeCustom {
	color:white; 
}

.inactiveCustom {
	color:gray;
}

.mainImage {
	position: relative;
	padding: 0px;
}
.header {
	position: absolute;
	justify-content: center;
	color: blueviolet; 
	font-size: 10vw; 
	padding: 3%;
	padding-left: 6%; 
}
.custRow {
	padding: 4%; 
	display: flex; 
	justify-content: center;
}

.custCol {
	padding: 1%;
}

.feat1 {
	padding-right: 5%; 
}

.feat2 {
	padding-left: 8%; 
}

@media (min-width: 768px) {

}