a {
	padding: 1%; 
}

* {
	box-sizing: border-box; 
	font-family: 'Poppins', sans-serif;
}

.logo {
	font-size: 20px; 
}

.NavBar {
	margin: 0px;
	padding: 0px; 
}
.activeCustom {
	color:white; 
}

.inactiveCustom {
	color:gray;
}

.mainImage {
	position: relative;
	padding: 0px;
}
.header {
	position: absolute;
	justify-content: center;
	color: blueviolet; 
	font-size: 10vw; 
	padding: 3%;
	padding-left: 6%; 
}
.team {
	position: absolute;
	justify-content: center;
	color: blueviolet; 
	font-size: 3vw; 
	padding: 3%;
	padding-left: 6%; 
}
.custRow {
	padding: 2%; 
	display: flex; 
	justify-content: center;
}

.custCol {
	padding: 1%;
}

.feat1 {
	padding-right: 5%; 
}

.feat2 {
	padding-left: 8%; 
}

.name {
	font-size: 4vw; 
	font-family: 'Oswald', sans-serif;
}
.job {
	font-size: 3vw; 
	padding-bottom: 2%; 
}
.description {
	padding-bottom: 4%; 
}

#desktopNav {
	display: none; 
}

.profile {
	width: 50%; 
}

.member {
	justify-content: center; 
	text-align: center;
}

.footer {
	padding-left: 3%; 
	padding-bottom: 1%; 
}

@media (min-width: 768px) {
	#desktopNav {
		display: block;
	}
	#mobileNav {
		display: none; 
	}
}