.container {background-color: coral;} 

.darken {
    display: inline-block;
    padding: 0;
    position:relative
}

.darken:hover img {
    opacity: 0.7;           
}

.darken:hover .overlay {
  opacity: 1;
}

.darken:hover div {
	color:white;
}

div {
	visibility: none;
}

img {
	max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */

}

.overlay {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;      
	opacity: 0;   
	text-align: center;
	top: 0; /* Adjust this value to move the positioned div up and down */
	background: rgba(0, 0, 0, 0.8);
	font-family: Arial,sans-serif;
	color: #fff;
	width: 90%; /* Set the width of the positioned div */
	height: 90%; 
}
