.container {background-color: coral;} 

.movie {
	width: 25%;
}

.darken {
    display: block;
    padding: 0;
    position:relative
}

.darken img {
	width: 25%; 
    display: block;
}

.darken:hover img {
    opacity: 0.7;           
}

.darken:hover .overlay {
  opacity: 1;
}

.darken:hover div {
	color:white;
}

div {
	visibility: none;
}

.overlay {
  position: absolute; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7); /* Black see-through */
	top: 3px;
	left: 16px;
  width: 100%;
  opacity: 0; 
  padding: 20px;
}